html,
body {
  padding: 0;
  margin: 0;
  font-family:'Courier New', Courier, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form {
  display: table;
  min-width: 350px;
  margin: 0 auto;
  padding: 1rem;
}

label {
  display: table;
  width: 100%;
  margin-bottom: 0.5rem;
  color: #4c3e47;
}

input {
  display: table;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgb(51, 5, 47);
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
  border-color: #7ff0b2;
  border-radius: 0.45rem;

}

button{
  display: table;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  background-color: #535f57;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #591863;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapperText, h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  
  color: rgb(114, 115, 141);

 
}

span{
  display: flex;
  justify-content: center;
  align-items: center;

}

.formBtn {
  display: table;
  width: 25%;
  margin-left: 38%;
  align-items: center;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 2.5rem;
  background-color: #144f14;
  color: #fff;
  cursor: pointer;
}
